@{
    ViewData["Title"] = "About";
}
<h3><strong>@ViewData["Title"]</strong></h3>


<p>Simple <strong>CRUD</strong> application about <strong><a href="http://blog.counter-strike.net/">Counter-Strike : Global Offensive</a></strong> e-sport teams.</p>

<br />
<h4>Wymogi projektowe</h4>
<p>Modele: 35% (35/35)</p>
<ul>
    <li>atrybuty dotyczące ograniczeń danych (własne walidatory): 15%</li> 15/15
    <li>atrybuty dotyczące widoków: 10%</li> 10/10
    <li>minimum 2 tabele z relacją jeden-do-wiele: 10%</li> 10/10
</ul>
<p>Kontrolery: 30% (25/30)</p>
<ul>
    <li>powiązanie uprawnień zalogowanych userów z kontrolerami (atrybuty wykorzystujące role): 10%</li> 10/10
    <li>logowanie i przynależność do ról: 10%</li> 10/10
    <li>LINQ: 10%</li> 5/10
</ul>
<p>Widoki: 35% (28/35)</p>
<ul>
    <li>widoki pisane w Razor + przekazywanie danych do widoku: 7%</li> 7/7
    <li>umiejętność + przykład ręcznego rozszerzenia widoku: 7%</li> 7/7
    <li>widoki częściowe + komunikacja z widokiem podstawowym: 7%</li> 5/7
    <li>zastosowanie podstawowych helperów + definicja własnych: 7%</li> 7/7
    <li>zastosowanie layoutów: 7%</li> 2/7
</ul>

<p>Proponowany wynik : 88/100</p>