@{
    ViewData["Title"] = "Contact";
}

<h3><strong>@ViewData["Title"]</strong></h3>

<address>
    <p>Administrator: <a href="https://facebook.com/hergroth"><strong>Jan Bienias</strong></a></p>
    <p>Phone number: <strong>999-999-999</strong></p>
    <p>E-mail: <strong>jbienias@sigma.ug.edu.pl</strong></p>
</address>

